@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Quicksand:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
    font-family: 'Fira Sans', sans-serif;
}
.font-sec{
    font-family: 'Quicksand', sans-serif;
}
body,html{
    height:100%;
    background-color: rgb(40, 40, 43);
}

/* Header style */
header{
background-color: transparent;
padding: 15px 15px;
width: 100%;
background-image: url(./asset/Remnant-2-Announced_12-08-22.jpg), linear-gradient(360deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
background-blend-mode: overlay;
height: 70%;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 96%, 0 88%);


}
.nav-container{
    display: flex;
    min-width: 100%;
    align-items: start;
    justify-content: space-between;
}
.logo-img{
width: 80px;    
}
.upper-items{
    display: flex;
    list-style: none;
}
.upper-items li{
    margin-right: 10px;
    font-size: 15px;
    opacity: 90%;
    font-weight: 400;
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-nav{
    background: rgba(85, 83, 83, 0.2);
    width: 600px;
    padding: 20px 30px;
    border-radius: 50px;
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px); 
    position: relative;  
}
.main-items{
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav-item{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.device{
    width: 20px;
}
.search-btn{
position: absolute;
top: 0;
right: 0;
padding: 20px 20px;
border-radius: 50px;
background: rgb(254,123,0);
background: linear-gradient(90deg, rgba(254,123,0,1) 0%, rgba(255,87,51,1) 100%);
border: none;
}
.fa-magnifying-glass{
    background-color: transparent;
    font-size: 18px;
}
.fa-basket-shopping{
    font-size: 20px;
    margin-right: 15px;
}
.fa-user{
    font-size: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: lightskyblue;
}

/* Banner */
.banner-container{
    display: flex;
    height: 50%;
    align-items: center;
    padding: 0 120px;
}
.banner-content{
    width: 100%;
 display: flex;
 align-items: end;
 justify-content: space-around;   
}
.badge{
    width: fit-content;
    padding: 2px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
}
.title{
    margin: 20px 0;
    font-weight: 500;
    font-size: 36px;
}
.price{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.discount-tag{
width: fit-content;
display: inline-flex;
align-items: center;
padding: 0 10px;
border-radius: 5px;
height: 25px;
clip-path: polygon(-3% 0%, 79% 0%, 100% 102%, 0% 100%);
background-color: rgba(255,87,51,1);

}
.discount-price{
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
}
.access-btn{
    font-size: 20px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2);
border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
position: relative;
    }
    span.border_btm {
        &:after {
          display: block;
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          bottom: -10px;
          right: -10px;
          border-bottom: 3px solid #EA485D;
          border-right: 3px solid #EA485D;
        }
        &:before {
          display: block;
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          bottom: -10px;
          left: -10px;
          border-bottom: 3px solid #EA485D;
          border-left: 3px solid #EA485D;
        }
      }

.fa-plus{
    margin-right: 10px;
}



/*  */
#trending{
    padding: 0 120px;
    display: flex;
    align-items: center;

}
.trend-text{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

/* Modal */
.modal_wrapper{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease-in-out;
}
.modal_container{
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.15);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
width: 600px;
max-width: 90%;
position: relative;
transform: translateY(-100%);
transition: all .4s ease-in-out;
}
.close{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.close:hover{
    color: #EA485D;
}
.modal_active{
    opacity: 1;
    pointer-events: auto;
}
.modal_wrapper.modal_active .modal_container{
    transform: translateY(0px);
}
.modal-bar{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5px;
background: rgba(184, 182, 182, 0.144);
border-radius: 6px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.modal-bar-title{
font-weight: 500;
}
.platform-container,.cards-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.platform{
    padding: 5px 25px 5px 10px;
display: inline-flex;
align-items: center;
gap: 10px;
cursor: pointer;
}
.platform-img{
width: 40px;
}
.platform:hover{
    padding: 5px 25px 5px 10px;
    background: rgba(141, 141, 141, 0.26);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.cards{
    padding-bottom: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.stream-card{
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.stream-card p{
    font-size: 20px;
    letter-spacing: 4px;
}
.card-img-1{
    width: 40px;
}
.card-img-3,.card-img-2{
    width: 60px;
}
.card-img-2{
    height: 40px;
}


/* Media query */
@media screen and (min-width: 1536px) {
    header{
        height: 90%;
    }
}