@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Quicksand:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(40, 40, 43);
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
.font-sec{
    font-family: 'Quicksand', sans-serif;
}

/* Header style */
header{
    position: fixed;
 padding: 15px 15px;
 width: 100%;
}
.nav-container{
    display: flex;
    min-width: 100%;
    align-items: start;
    justify-content: space-between;
}
.logo-img{
width: 80px;    
}
.upper-items{
    display: flex;
    list-style: none;
}
.upper-items li{
    margin-right: 10px;
    font-size: 15px;
    opacity: 90%;
    font-weight: 300;
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-nav{
    background: rgba(85, 83, 83, 0.2);
    width: 600px;
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 2px rgb(40, 40, 43);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px); 
    position: relative;  
}
.main-items{
    list-style: none;
    display: flex;
    gap: 30px;
}
.main-items li{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    
}
.device{
    width: 20px;
}
.search-btn{
position: absolute;
top: 0;
right: 0;
padding: 20px 20px;
border-radius: 50px;
background: rgb(254,123,0);
background: linear-gradient(90deg, rgba(254,123,0,1) 0%, rgba(255,87,51,1) 100%);
border: none;
}
.fa-magnifying-glass{
    background-color: transparent;
    font-size: 18px;
}
.fa-basket-shopping{
    font-size: 20px;
    margin-right: 15px;
}
.fa-user{
    font-size: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: lightskyblue;
}